body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #EFEFEF;
}
#add_new_subject{
    margin:5px;
}
.padded{
    padding:10px;
}
.padded-btn{
    padding:10px;
    margin-bottom: 10px;
}
span.marged{
    margin-right:15px;
}
div.rounded{
    border-radius: 2px 2px 2px 2px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
footer{
    height:50px;
    background-color: #FFFFFE;
    border-top: solid 1px #EFEFEF;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    margin-top:100px;
}
ul.footer{
    list-style: none;
    margin: 20px;
}
ul.footer li{
    display: inline-block;
    color: blue;
}